{% extends "scuba/layout.html" %} {% block body %}

<!-- Heading for Dive Planner page -->
<h1>Dive Planner</h1>

<!-- Backgas Section -->
<h5>Backgas</h5>

<!-- Input fields for Backgas information -->
<label for="cuFt">Cu Ft</label>
<input type="number" id="cuFt" step="0.1" placeholder="Cu Ft" required />

<label for="pressure">Pressure</label>
<input type="number" id="pressure" step="0.1" placeholder="Pressure" required />
<span id="psiPerCuFt"></span>

<label for="fillPressure">Fill Pressure</label>
<input
  type="number"
  id="fillPressure"
  step="0.1"
  placeholder="Fill Pressure"
  required
/>
<span id="actCuFt"></span>

<br /><br />

<!-- Dropdown for selecting # of deco gasses -->
<label for="decoGasses">How many deco gasses?</label>
<select id="decoGasses">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
</select>

<!-- Containers for displaying switch depth dropdowns -->
<div id="firstSwitchDepthContainer"></div>
<div id="secondSwitchDepthContainer"></div>

<br />

<!-- Container for displaying deco gasses input fields -->
<div id="decoGassesContainer"></div>

<br /><br />

<!-- Calculate MOD Section -->
<h3>Calculate MOD</h3>
<label for="o2Level">O2 Level %:</label>
<input
  type="number"
  id="o2Level"
  min="21"
  max="100"
  step="1"
  required
/>
<div id="modOutput"></div>

<br /><br />

<!-- Best Mix Section -->
<h3>Best Mix</h3>
<label for="depthInput">Enter Depth (feet):</label>
<input
  type="number"
  id="depthInput"
  min="13"
  max="186"
  required
/>
<p id="bestMixOutput"></p>

{% endblock %}
